In [8]:
# Testing pyspark Intallation
import findspark
findspark.init('C:\Spark')
findspark.find()

import pyspark
from pyspark.sql import SparkSession

# Create Spark Session
spark = SparkSession.builder.master("local[1]").appName('SparkByExamples.com').getOrCreate()

spark

In [9]:
# Read CSV File
csv_file = 'data/4.csv'

df = spark.read.option("header",True).csv(csv_file)

df.show(5)

+-----+-------+------+-------+------+
|EmpId|EmpName|Gender|Dept No|Salary|
+-----+-------+------+-------+------+
|  101|   Beck|     F|      1|  8900|
|  102|    Joe|     M|      3|  7800|
|  103|  Peach|     F|      1| 10000|
|  104| Bengie|     M|      2|  6000|
|  105|  Barko|     M|      2| 11000|
+-----+-------+------+-------+------+

In [10]:
df.printSchema()

root
 |-- EmpId: string (nullable = true)
 |-- EmpName: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Dept No: string (nullable = true)
 |-- Salary: string (nullable = true)

In [11]:
# Dataframe Filter() 
# Get the data 'Dept No' is equal to '1'

from pyspark.sql.functions import col

df.filter(col("Dept No") ==1).show()

+-----+-------+------+-------+------+
|EmpId|EmpName|Gender|Dept No|Salary|
+-----+-------+------+-------+------+
|  101|   Beck|     F|      1|  8900|
|  103|  Peach|     F|      1| 10000|
+-----+-------+------+-------+------+

In [12]:
#SQLexpression

df.filter(col("Salary")>9000).show()

+-----+-------+------+-------+------+
|EmpId|EmpName|Gender|Dept No|Salary|
+-----+-------+------+-------+------+
|  103|  Peach|     F|      1| 10000|
|  105|  Barko|     M|      2| 11000|
+-----+-------+------+-------+------+

In [13]:
# Filtering with multiple conditions
    # AND(&&)
    # NOT(!)
    # OR(||)
    
 #Filter with Multiple condition
columns = ["Names","Languages",'Sex']
row=[[["Rohit","Gupta"],["Python","C"],"M"],
     [["Shanu","Sisodiya"],["C++","Java","Python"],"F"],
     [["Parth","Sisodiya"],["C++","C#","Java"],"M"]]

df.filter((df["Gender"]=="M") & (df["Dept No"]==2)).show()

+-----+-------+------+-------+------+
|EmpId|EmpName|Gender|Dept No|Salary|
+-----+-------+------+-------+------+
|  104| Bengie|     M|      2|  6000|
|  105|  Barko|     M|      2| 11000|
+-----+-------+------+-------+------+

In [21]:
columns = ["Names","Languages",'Gender']

row=[[["Rohit","Gupta"],["Python","C"],"M"],
     [["Shanu","Sisodiya"],["C++","Java","Python"],"F"],
     [["Parth","Sisodiya"],["C++","C#","Java"],"M"]]

# Create RDD
rdd = spark.sparkContext.parallelize(row)

# Using toDF() function
df = rdd.toDF()

# Column names to the DataFrame use toDF() method with column
df = rdd.toDF(columns)
df.show()

+-----------------+-------------------+------+
|            Names|          Languages|Gender|
+-----------------+-------------------+------+
|   [Rohit, Gupta]|        [Python, C]|     M|
|[Shanu, Sisodiya]|[C++, Java, Python]|     F|
|[Parth, Sisodiya]|    [C++, C#, Java]|     M|
+-----------------+-------------------+------+

In [22]:
# dataframe contains three columns 'Name', 'Language' and 'Gender'

# Filtering on an array column
from pyspark.sql.functions import array_contains

#Filtering conditions
df.filter(array_contains(df["Languages"],"Python")).show()

+-----------------+-------------------+------+
|            Names|          Languages|Gender|
+-----------------+-------------------+------+
|   [Rohit, Gupta]|        [Python, C]|     M|
|[Shanu, Sisodiya]|[C++, Java, Python]|     F|
+-----------------+-------------------+------+